<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Document Searcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E2182B1F7364AA00237376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E2183C1F7364AA00237376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E218471F7364AA00237376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
